{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/posts/prism.css' %}">
    <link rel="stylesheet" href="{% static '/posts/style.css' %}">
    <title>Blog | marceloazevedo.dev</title>
</head>

<body>
    <div class="container-sm">
        <div class="row justify-content-center" style="padding-top: 2rem;">
            <div class="col-7">
                <h1 class="font-monospace"><i><b>marceloazevedo.dev</b></i></h1>
                <hr></hr>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-7">
                <p class="fw-lighter">
                    Gosto de estar fazendo coisas sempre, então aqui estão 
                    algumas coisas que sempre estou estudando, criando, aprendendo
                    e tentando compartilhar tudo isso nesse oceano de informações 
                    que é a internet.
                </p>
            </div>
        </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static '/posts/prism.js' %}"></script>

        {% block content %}
        {% endblock %}

</body>

</html>